<!DOCTYPE html>
<html lang="en">
<head>
    <!--CSS-->
    <style>
        @font-face {
        font-family: Freeroad-Bold;
        src: url(/static/fonts/FreeroadBold.ttf)
        }

        @font-face {
        font-family: Freeroad-Regular;
        src: url(/static/fonts/FreeroadRegular.ttf)
        } 

        body {
            background-image: url(/static/img/gif/404.gif);
            background-size: cover;

            height: 100vh;
            padding:0;
            margin:0;
        }
    </style>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
</head>
<body>
</body>
</html>