<!DOCTYPE html>
<html lang="en">
<head>
    <!--CSS-->
    <style>
        body {
            background-size: cover;
        }
        .username {
            color: re
        }
    </style>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You are now verified!</title>
</head>
<body>
    <div class = "username">
        <p></p>
    </div>
    <div class = "userimg">
        <img src = {{image}}>
        <p>{{image}}</p>
    </div>
</body>
</html>